01-benefits-iac/.terraform.lock.hcl
01-benefits-iac/.terraform/providers/registry.terraform.io/hashicorp/aws/5.99.1/windows_amd64/LICENSE.txt
01-benefits-iac/.terraform/providers/registry.terraform.io/hashicorp/aws/5.99.1/windows_amd64/terraform-provider-aws_v5.99.1_x5.exe
03-first-tf-project/.terraform.lock.hcl
03-first-tf-project/.terraform/providers/registry.terraform.io/hashicorp/aws/5.99.1/windows_amd64/LICENSE.txt
03-first-tf-project/.terraform/providers/registry.terraform.io/hashicorp/aws/5.99.1/windows_amd64/terraform-provider-aws_v5.99.1_x5.exe
03-first-tf-project/.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/windows_amd64/LICENSE.txt
03-first-tf-project/.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/windows_amd64/terraform-provider-random_v3.7.2_x5.exe
04-backends/.terraform.lock.hcl
04-backends/dev.s3.tfbackend
04-backends/prod.s3.tfbackend
04-backends/.terraform/terraform.tfstate
04-backends/.terraform/providers/registry.terraform.io/hashicorp/aws/5.99.1/windows_amd64/LICENSE.txt
04-backends/.terraform/providers/registry.terraform.io/hashicorp/aws/5.99.1/windows_amd64/terraform-provider-aws_v5.99.1_x5.exe
04-backends/.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/windows_amd64/LICENSE.txt
04-backends/.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/windows_amd64/terraform-provider-random_v3.7.2_x5.exe
05-providers/.terraform.lock.hcl
05-providers/terraform.tfstate
05-providers/terraform.tfstate.backup
05-providers/.terraform/providers/registry.terraform.io/hashicorp/aws/5.99.1/windows_amd64/LICENSE.txt
05-providers/.terraform/providers/registry.terraform.io/hashicorp/aws/5.99.1/windows_amd64/terraform-provider-aws_v5.99.1_x5.exe
06-resources/.terraform.lock.hcl
06-resources/terraform.tfstate
06-resources/terraform.tfstate.backup
06-resources/.terraform/providers/registry.terraform.io/hashicorp/aws/5.99.1/windows_amd64/LICENSE.txt
06-resources/.terraform/providers/registry.terraform.io/hashicorp/aws/5.99.1/windows_amd64/terraform-provider-aws_v5.99.1_x5.exe
07-data-sources/.terraform.lock.hcl
07-data-sources/terraform.tfstate
07-data-sources/terraform.tfstate.backup
07-data-sources/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/LICENSE.txt
07-data-sources/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/terraform-provider-aws_v5.100.0_x5.exe
07-data-sources/.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/windows_amd64/LICENSE.txt
07-data-sources/.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/windows_amd64/terraform-provider-random_v3.7.2_x5.exe
proj01-s3-static-website/.terraform.lock.hcl
proj01-s3-static-website/terraform.tfstate
proj01-s3-static-website/terraform.tfstate.backup
proj01-s3-static-website/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/LICENSE.txt
proj01-s3-static-website/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/terraform-provider-aws_v5.100.0_x5.exe
proj01-s3-static-website/.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/windows_amd64/LICENSE.txt
proj01-s3-static-website/.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/windows_amd64/terraform-provider-random_v3.7.2_x5.exe
